body {
	margin: 0px;
	background-color: #fff7d1;
	font-family: Georgia, Times, serif;
}

.column {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
}

.header h1 {
	text-align: center;
}

.play-pause {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.play-pause button {
	background-color: #f73b3b;
	border: 2px solid #383838;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	flex-shrink: 0;
	cursor: pointer;
	margin: 5px;
}

.play-pause button:hover:enabled {
	background-color: #cf3232;
	border: 2px solid black;
}

.play-pause button:active:enabled {
	background-color: black;
}

.play-pause button:disabled {
	border: 2px solid #9e6363;
	background-color: #9e6363;
	cursor: default;
}

.container {
	width: 100%;
}

.blob {
	border: 1px solid black;
	background-color: floralwhite;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
}

.inputs {
	display: flex;
}

.param {
	display: flex;
	height: 35px;
	align-items: center;
	gap: 10px;
}

.param h3 {
	margin: 0px;
	font-style: italic;
	flex: 1 0 fit-content;
}

.input-slider {
	height: 100%;
	width: 50px;
	flex: 2 2 100%;
}

.input-text {
	width: 50px;
	flex: 1 1 50px;
 }

.zone canvas {
	width: 100%;
	height: 100%;
}

.form-zone {
	width: 50%;
	display: flex;
	flex-flow: column;
	margin-bottom: 10px;
}

.form-zone header {
	flex: 0 1 auto;
}

.form-zone canvas {
	flex: 1 1 auto;
}

.form-zone form {
	flex: 0 1 40px;
}

.waveform {
	width: 100%;
}

.spectrum {
	width: 100%;
	position: relative;
}

.spectrum-bounds {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 100%;
}

.spectrum-bound {
	height: fit-content;
	width: 50px;
	background: rgba(255, 191, 15, 0.5);
	border: 0px;
}

.spectrum-bound:hover {
	background: rgba(255, 191, 15, 1.0);
}

#upper-spectrum-bound {
	text-align: right;
}

.carrier {
	margin-right: 10px;
}

.mod {
	margin-left: 10px;
}

.graph-container canvas {
	width: 100%;
	aspect-ratio: 16 / 9;
	max-height: 300px;
}

@media only screen and (max-width: 600px) {

	.inputs {
		display: block;
	}
	.form-zone {
		width: 100%;
	}

	.carrier {
		margin-right: 0px;
	}

	.mod {
		margin-left: 0px;
	}
}