body {
	margin: 0px;
	background-color: #fff7d1;
	font-family: Georgia, Times, Times New Roman, serif;
	image-rendering: crisp-edges;
}

.centerbar {
	box-sizing: border-box;
	margin: auto; /* Center on page*/
	width: 800px;
	max-width: 100%;
	padding-left:20px;
	padding-right: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.banner {
	image-rendering: -webkit-optimize-contrast; /* some browsers use this name */
	image-rendering: crisp-edges;
	width: 100%;
}

.top {
	border-bottom: 2px solid black;
}

.top h1 {
	margin-bottom: 5px;
}



.projectcontainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;

	padding: 0;
	margin: 0;

	list-style: none;
}

.projectcontainer a {
	width: 100%;
	height: 100%;
}

.project {
	color: black;
	list-style-type: none;
	height: 200px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	transition: background 0.2s ease-out;
	background-color: #fff7d1;
}

.project:hover {
	transition: background 0.2s ease-in;
	background: #e3d9ac;
}

.projectthumbnail {
	float: left;
	position: relative;
	width: 50%;
	height: 100%;

}

.projectthumbnail img {
	max-height: calc(100% - 10px);
  max-width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	float: right;
}

.project .right {
	position: relative;
	margin: 0px;
	padding: 0px;
	float: right;
	width: 50%;
	height: 100%;

}

.projectinfo {
	border-left: 4px solid black;
	height: 100%;
	padding-left: 10px;

}

.projectinfo h3 {
	margin: 0px;
	padding: 0px;

}

.lastproject {
	height: 190px;
}

.lastproject .projectthumbnail img {
	  max-height: 100%

}

@media (max-width: 600px) {
  .project {
   height: max-content;
    overflow:auto; 
  }
  .projectthumbnail {
		width: 100%;
	}
  .projectthumbnail img {
    margin: auto;
    	float: none;
      	padding-right: 0px;
	padding-left: 0px;

  }
	.project .right {
		width: 100%;
    
	}
  .projectinfo {
    border: 0px;
    padding: 0px;
  }
  .projectcontainer {
    display: block;
    flex-flow: unset;
    height: max-content;
  }
  
  .lastproject {
    border-bottom: 4px solid black;
  }
}

